name: Deploy from tags

on:
  push:
    tags:
      - 'v*'

permissions:
    id-token: write
    contents: read

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'

      - name: install npm
        run: npm install npm@latest -g
            
      - run: npm publish --access public